{% extends 'base.html' %}

{% block content %}

<main>
    <div>
        <h1>{{ projects.name }}</h1>
        <p>{{ projects.description }}</p>
        <h2>Tasks</h2>
        <p><a href="{% url 'create_task' %}"></a>Create a new task</p>
        {% if projects.tasks.all|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for projects in projects.tasks.all %}
                <tr>
                    <td>{{ projects.name }}</td>
                    <td>{{ projects.assignee }}</td>
                    <td>{{ projects.start_date }}</td>
                    <td>{{ projects.due_date }}</td>
                    <td>{{ projects.is_completed|yesno }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
